* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

nav {
  background-color: lavender;
  min-height: 10vh;
  height: 15vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  color: black;
}

.navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  letter-spacing: 2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navlinks li {
  list-style: none;
}

.navlinks li a {
  text-decoration: none;
  color: black;
}

.navlinks li a:hover {
  color: chocolate;
}

.navicons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  letter-spacing: 2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navicons li {
  list-style: none;
}

.navicons li a {
  text-decoration: none;
  color: black;
}

.navicons li a:hover {
  color: chocolate;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 2px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body {
  width: 100%;
  height: 100%;
  background: radial-gradient(#fff, #ffd6d6);
}

.hero-container {
  background-image: url("./images/herbs.jpg");
  background-color: lightskyblue;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.hero-area {
  color: white;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-content {
  text-align: center;
}

.hero-content p {
  font-size: 30px;
  color: black;
}

.hero-content h1 {
  font-size: 80px;
  color: cornflowerblue;
  margin-bottom: 30px;
}

.button {
  background-color: cornflowerblue;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 30px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.button:hover {
  color: yellow;
  background: chocolate;
}

.fbox {
  width: 300px;
  margin: 40px auto;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 10px;
  background-color: black;
  color: white;
  letter-spacing: 2px;
}

.box-container {
  width: 100%;
  height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.box {
  width: 33.3%;
  min-width: 250px;
  float: left;
  padding: 0px 20px 0px 20px;
  margin-bottom: 20px;
}

.box img {
  width: 100%;
  height: 300px;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  height: 100vh;
}

.product-deets {
  max-width: 300px;
  margin: auto;
  line-height: 2rem;
  display: block;
}

.product-deets h4 {
  text-align: center;
}

.product-deets p {
  text-align: center;
}

.form-box {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 10vh;
  background-color: lavender;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-box .sub {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 1rem;
}

.mailinglist {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 2px;
}

.form-button {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

button {
  background-color: cornflowerblue;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 30px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

button:hover {
  color: yellow;
  background: chocolate;
}
/*# sourceMappingURL=main.css.map */